@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}